BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
SortIncludes: Never
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
